customtkinter==5.0.3
ipykernel==6.20.1
ipython==8.8.0
numpy==1.23.5
pandas==1.5.2
Pillow==9.3.0
ttkthemes==3.2.2

pypdf==3.2.1
PyPDF2==3.0.1

python-whois==0.8.0

rembg==2.0.30

textblob==0.17.1

PyQRCode==1.2.1
pypng==0.20220715.0