# Other optional modules
ipykernel==6.20.1
ipython==8.8.0

# BMI Calculator
customtkinter==5.0.3

# Magic 8-Ball
Pillow==9.3.0

# Style and theme
ttkthemes==3.2.2

# PDF Reader into Treeview
numpy==1.23.5
pandas==1.5.2
pypdf==3.2.1
PyPDF2==3.0.1

# Whois lookup domain 
python-whois==0.8.0

# Remove background image
rembg==2.0.30

# Spellchecker
textblob==0.17.1

# Generate QR Code
PyQRCode==1.2.1
pypng==0.20220715.0

# Decode QR Code
pyzbar==0.1.9

# Emojis
emoji==2.2.0